.carousel .thumbs-wrapper {
  margin: 0;
}

.carousel .thumb {
  padding: 0;
}

.carousel.carousel-slider {
  overflow: auto;
}

.carousel .slider-wrapper {
  overflow: auto;
}

.carousel .thumb {
  padding: 12px 12px 0 12px;
  border: unset;
  margin-right: unset;
}

.carousel .thumb:hover {
  border: unset;
}
.carousel .thumb:focus {
  border: unset;
}

.carousel .thumb.selected {
  background-color: #27166f;
  border: unset;
}
