/*
Add roboto flex font face
*/
@font-face {
  font-family: 'Roboto Flex';
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/roboto-flex:vf@latest/latin-full-normal.woff2)
    format('woff2-variations');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.zep-typography-headline2XL,
.zep-typography-headlineXL,
.zep-typography-headlineLG,
.zep-typography-headlineMD,
.zep-typography-headlineSM,
.zep-typography-headlineXS,
.zep-typography-headlineXS-fluid-cqi,
.zep-typography-headlineSM-fluid-cqi,
.zep-typography-headlineMD-fluid-cqi,
.zep-typography-headlineLG-fluid-cqi,
.zep-typography-headlineXL-fluid-cqi,
.zep-typography-headline2XL-fluid-cqi {
  font-variation-settings:
    'wght' 800,
    'wdth' 55,
    'opsz' 17,
    'XOPQ' 69,
    'XTRA' 444,
    'YOPQ' 68,
    'YTLC' 514,
    'GRAD' 68,
    'YTAS' 750,
    'YTUC' 726,
    'slnt' 0;
  font-family: 'Roboto Flex', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

.zep-typography-bodyText {
  font-family: 'Roboto Flex', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}
.zep-typography-bodyStrong {
  font-variation-settings: 'wght' 600;
}

.zep-typography-tagline,
.zep-typography-taglineMD {
  font-variation-settings:
    'wght' 500,
    'wdth' 80,
    'XTRA' 430,
    'opsz' 17;
}

.zep-typography-link:hover,
.zep-typography-linkSM:hover {
  font-variation-settings:
    'wght' 400,
    'wdth' 100,
    'slnt' 0,
    'GRAD' 150;
}

@layer base {
  :root {
    --zep-font-family: 'Roboto Flex', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  }
  html {
    @apply zep-font-robotoFlex;
    font-family: 'Roboto Flex', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  }
  body {
    @apply zep-font-robotoFlex;
    font-family: 'Roboto Flex', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  }
  .zep-link-inline {
    font-variation-settings:
      'wght' 400,
      'wdth' 100,
      'slnt' 0,
      'GRAD' 50;
  }

  .zep-link-standalone {
    font-variation-settings:
      'wght' 400,
      'wdth' 100,
      'slnt' 0,
      'GRAD' 105;
  }
  .zep-link-inline:hover:not([disabled]),
  .zep-link-standalone:hover:not([disabled]) {
    font-variation-settings:
      'wght' 400,
      'wdth' 100,
      'slnt' 0,
      'GRAD' 150;
  }
}

@layer utilities {
  @variants responsive {
    .zep-text-unset {
      text-align: unset;
    }
  }
}

.zep-scrollable-content {
  -ms-overflow-style: none;
  overflow: auto;
  scrollbar-width: none;
}

.zep-scrollable-content::-webkit-scrollbar {
  display: none;
}

@media (hover: none) and (pointer: coarse) {
  .zep-vertical-scrollbar,
  .zep-horizontal-scrollbar {
    display: none;
  }

  .zep-scrollable-content {
    margin-bottom: 0 !important;
  }
}

.zep-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.zep-thumb::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #27166f;
  pointer-events: auto;
  appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.24);
}

.zep-thumb::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #27166f;
  pointer-events: auto;
  appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.24);
}

.zep-link-filter-active {
  font-variation-settings:
    'wght' 400,
    'wdth' 100,
    'slnt' 0,
    'GRAD' 150;
}

.zep-typography-navigation {
  font-variation-settings:
    'wght' 600,
    'wdth' 90,
    'XTRA' 450,
    'opsz' 16;
}
